<template>
  <n-layout>
    <n-layout-header>
      <n-h1 prefix="bar">
        <n-text type="primary">
          {{ t("home.title") }}
        </n-text>
      </n-h1>
    </n-layout-header>
    <div v-if="type !== 'xs'">
      <n-layout has-sider :native-scrollbar="false">
        <n-layout-sider
          :content-style="`padding: ${padding}px;`"
          :width="siderWidth"
          :collapsed-width="padding * 1.5"
          show-trigger="bar"
          collapse-mode="transform"
        >
          <image-loader
            image-url="https://i.imgur.com/rFv1MyZ.jpeg"
            :height="imageWidth * 1.5"
            :width="imageWidth"
          />
        </n-layout-sider>
        <n-layout-content
          :content-style="`padding: ${padding}px;`"
          :native-scrollbar="false"
        >
          <home-text />
        </n-layout-content>
      </n-layout>
    </div>
    <div v-else>
      <n-layout-content
        content-style="padding: 24px;"
        :native-scrollbar="false"
      >
        <n-space justify="center">
          <image-loader
            image-url="https://i.imgur.com/rFv1MyZ.jpeg"
            :height="imageWidth * 1.5"
            :width="imageWidth"
          />
        </n-space>

        <home-text />
      </n-layout-content>
    </div>
  </n-layout>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const windowWidth = ref(window.innerWidth);

const onWidthChange = () => (windowWidth.value = window.innerWidth);
onMounted(() => window.addEventListener("resize", onWidthChange));
onUnmounted(() => window.removeEventListener("resize", onWidthChange));

const type = computed(() => {
  if (windowWidth.value < 550) return "xs";
  if (windowWidth.value >= 550 && windowWidth.value < 1200) return "md";
  else return "lg";
});

const padding = computed(() => {
  switch (type.value) {
    case "xs":
      return 5;
    case "md":
      return 15;
    case "lg":
    default:
      return 24;
  }
});

const siderWidth = computed(() => Math.round(windowWidth.value / 5));
const imageWidth = computed(() => {
  switch (type.value) {
    case "xs":
      return Math.round(windowWidth.value / 1.5);
    case "md":
      return Math.round(siderWidth.value - 15 - padding.value);
    case "lg":
    default:
      return Math.round(siderWidth.value - 25 - padding.value);
  }
});
</script>
