<template>
  <n-layout>
    <n-layout-header>
      <n-h1 prefix="bar">
        <n-text type="primary"> {{ t("projects.title") }} </n-text>
      </n-h1>
    </n-layout-header>
    <n-layout-content content-style="padding: 24px;">
      <n-space vertical>
        <n-blockquote>
          {{ t("projects.quote") }}
        </n-blockquote>
        <n-h5>
          <n-text type="info"> {{ t("projects.subtitle") }} </n-text>
        </n-h5>
        <n-space justify="center">
          <ProjectCard
            v-for="(data, key) in projects"
            class="ladder"
            :style="computeDelay(key)"
            :key="key"
            :icon="data.icon"
            :project-name="data.name"
            :host="data.source"
            :link="data.link"
          />
        </n-space>
      </n-space>
    </n-layout-content>
  </n-layout>
</template>

<script setup lang="ts">
import { Vuejs, Rust } from "@vicons/fa";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const ladderDelay = 0.17;

const projects = [
  {
    name: "simpleFormBuilder",
    link: "https://github.com/ysanson/simple-form-builder",
    source: "Github",
  },
  {
    name: "mangas",
    icon: Rust,
    link: "https://github.com/ysanson/manga_updater",
    source: "Github",
  },
  {
    name: "portfolio",
    icon: Vuejs,
    link: "https://gitlab.com/ysanson/portfolio",
    source: "Gitlab",
  },
  { name: "sgit", link: "https://github.com/ysanson/sgit", source: "Github" },
];

function computeDelay(index: number) {
  const delay = ladderDelay * index;
  return `--d :${delay}s`;
}
</script>
