<template>
  <n-layout>
    <n-layout-header>
      <n-h1 prefix="bar">
        <n-text type="primary"> {{ t("resume.title") }} </n-text>
      </n-h1>
    </n-layout-header>
    <n-layout-content content-style="padding: 24px;">
      <n-space vertical>
        <n-space justify="center">
          <resume-timeline />
        </n-space>
        <n-collapse :default-expanded-names="['1', '2']">
          <n-collapse-item title="Viveris" name="1">
            <n-space justify="center">
              <resume-card
                v-for="(job, key) in viverisProjects"
                :key="key"
                class="ladder"
                :style="computeDelay(key, 0)"
                :titleKey="getTitleKey(job.group, job.project)"
                :contentKey="getContentKey(job.group, job.project)"
                :footerKey="getfooterKey(job.group, job.project)"
                :extraKey="getExtraKey(job.group, job.project)"
              />
            </n-space>
          </n-collapse-item>
          <n-collapse-item title="Polytech" name="2">
            <n-space justify="center">
              <resume-card
                v-for="(job, key) in polytechProjects"
                :key="key"
                class="ladder"
                :style="computeDelay(key, getInitialDelay())"
                :titleKey="getTitleKey(job.group, job.project)"
                :contentKey="getContentKey(job.group, job.project)"
                :footerKey="getfooterKey(job.group, job.project)"
                :extraKey="getExtraKey(job.group, job.project)"
              />
            </n-space>
          </n-collapse-item>
        </n-collapse>
      </n-space>
    </n-layout-content>
  </n-layout>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });
const ladderDelay = 0.17;
const viverisProjects = [
  { group: "viverisProjects", project: "sncf" },
  { group: "viverisProjects", project: "uromems" },
  { group: "viverisProjects", project: "ecam" },
  { group: "viverisProjects", project: "internship" },
];
const polytechProjects = [
  { group: "polytechProjects", project: "cyleone" },
  { group: "polytechProjects", project: "gds" },
  { group: "polytechProjects", project: "sifcad" },
];

const getTitleKey = (group: string, project: string) =>
  `resume.${group}.${project}.title`;
const getContentKey = (group: string, project: string) =>
  `resume.${group}.${project}.description`;
const getfooterKey = (group: string, project: string) =>
  `resume.${group}.${project}.technos`;
const getExtraKey = (group: string, project: string) =>
  `resume.${group}.${project}.date`;

function computeDelay(index: number, initialDelay = 0) {
  const delay = ladderDelay * index + initialDelay;
  return `--d :${delay}s`;
}

const getInitialDelay = () =>
  ladderDelay * viverisProjects.length + ladderDelay;
</script>
