<template>
  <n-space justify="center">
    <n-h2 align-text type="info">
      <n-text type="error" underline> {{ t("home.subtitle") }} </n-text>
    </n-h2>
  </n-space>
  <n-h2 align-text type="warning">
    <n-space justify="center">
      <n-text type="warning">
        <v-typical
          class="blink"
          :steps="wordArray()"
          :loop="Infinity"
          :key="locale"
        />
      </n-text>
    </n-space>
  </n-h2>
  <n-space align="center" vertical style="margin-bottom: 10px">
    <n-h3 align-text style="margin-bottom: 0px">
      <n-text type="info">{{ t("home.aboutMe.title") }}</n-text>
    </n-h3>
    <n-space justify="center" size="large">
      <home-item :icon="BirthdayCake" tradKey="home.aboutMe.age" />
      <home-item
        :icon="University"
        tradKey="home.aboutMe.university"
        link="https://www.polytech.umontpellier.fr"
      />
      <home-item :icon="UserGraduate" rawText="2020" />
      <home-item :icon="City" rawText="Lyon, France" />
      <home-item
        :icon="LaptopCode"
        rawText="Viveris Systèmes"
        link="https://www.viveris.fr"
      />
    </n-space>
  </n-space>

  <n-space align="center" vertical style="margin-bottom: 10px">
    <n-h3 align-text style="margin-bottom: 0px">
      <n-text type="info"> {{ t("home.links") }} </n-text>
    </n-h3>
    <n-space justify="center" size="large">
      <home-item
        :icon="LogoGithub"
        rawText="ysanson"
        link="https://github.com/ysanson"
      />
      <home-item
        :icon="Gitlab"
        rawText="ysanson"
        link="https://gitlab.com/ysanson"
      />
      <home-item
        :icon="LogoLinkedin"
        rawText="yvansanson"
        link="https://www.linkedin.com/in/yvansanson/"
      />
      <n-a href="mailto:sansonyvan@gmail.com">
        <n-space size="small">
          <n-icon size="25" :component="Email" />
          <n-p style="font-size: 1.2em">Email</n-p>
        </n-space>
      </n-a>
    </n-space>
  </n-space>

  <n-space align="center" vertical style="margin-bottom: 10px">
    <n-h3 align-text style="margin-bottom: 0px">
      <n-text type="info"> {{ t("home.hobbies.title") }} </n-text>
    </n-h3>
    <n-space justify="center" size="large">
      <home-item :icon="CameraRetro" tradKey="home.hobbies.photo" />
      <n-space size="small">
        <n-image
          width="35"
          :show-toolbar="false"
          preview-disabled
          src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-aikido-martial-arts-flaticons-flat-flat-icons.png"
        />
        <n-p style="font-size: 1.2em">{{ t("home.hobbies.aikido") }}</n-p>
      </n-space>
      <home-item :icon="Campground" tradKey="home.hobbies.trek" />
      <home-item :icon="Gamepad" tradKey="home.hobbies.games" />
      <home-item :icon="DiceD20" tradKey="home.hobbies.tabletop" />
    </n-space>
  </n-space>

  <n-space align="center" vertical style="margin-bottom: 10px">
    <n-h3 align-text style="margin-bottom: 0px">
      <n-text type="info"> {{ t("home.languages.title") }} </n-text>
    </n-h3>
    <n-space justify="center" size="large">
      <language-display
        tradKey="home.languages.french"
        isoFlag="fr"
        :toPercentage="100"
        :initialDelay="400"
        barStatus="success"
      />
      <language-display
        tradKey="home.languages.english"
        isoFlag="gb"
        :toPercentage="90"
        :initialDelay="800"
        barStatus="success"
      />
    </n-space>
    <n-space justify="center" size="large">
      <language-display
        tradKey="home.languages.japanese"
        isoFlag="jp"
        :toPercentage="60"
        :initialDelay="1200"
        barStatus="success"
      />
      <language-display
        tradKey="home.languages.german"
        isoFlag="de"
        :toPercentage="40"
        :initialDelay="1600"
        barStatus="success"
      />
    </n-space>
  </n-space>
  <n-space align="center" vertical>
    <n-h3 align-text style="margin-bottom: 0px">
      <n-text type="info"> {{ t("home.resumes.title") }} </n-text>
    </n-h3>
    <n-space justify="center" size="large">
      <n-button
        strong
        secondary
        round
        type="primary"
        size="large"
        tag="a"
        href="https://drive.google.com/file/d/1Jk3vxyURecYbvgkXMWijnUpeg3AzAEa8/view?usp=share_link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <template #icon>
          <n-icon>
            <file-pdf-regular />
          </n-icon>
        </template>
        {{ t("home.resumes.french") }}
      </n-button>
      <n-button
        strong
        secondary
        round
        type="success"
        size="large"
        tag="a"
        href="https://drive.google.com/file/d/14iY3K7-8h1BnPL546i7AN0otVRPbXPix/view?usp=share_link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <template #icon>
          <n-icon>
            <file-pdf-regular />
          </n-icon>
        </template>
        {{ t("home.resumes.english") }}
      </n-button>
    </n-space>
  </n-space>
</template>

<script setup lang="ts">
import { LogoGithub, LogoLinkedin, Email } from "@vicons/carbon";
import {
  Gitlab,
  University,
  UserGraduate,
  City,
  LaptopCode,
  BirthdayCake,
  CameraRetro,
  Campground,
  Gamepad,
  DiceD20,
  FilePdfRegular,
} from "@vicons/fa";
import { useI18n } from "vue-i18n";
import VTypical from "vue-typical";
import "flag-icons/css/flag-icons.min.css";
const { t, locale } = useI18n({ useScope: "global" });
function wordArray() {
  const array = [];
  for (let i = 0; i < 5; i++) {
    array.push(t(`home.textWriter.text${i}`));
    array.push(2000);
  }
  return array;
}
</script>
