<template>
  <template v-if="props.link">
    <n-a :href="props.link" target="_blank" rel="noopener noreferrer">
      <n-space size="small">
        <n-icon size="25" :component="props.icon" />
        <n-p v-if="props.tradKey" style="font-size: 1.2em">
          {{ t(props.tradKey) }}
        </n-p>
        <n-p
          v-if="props.rawText"
          style="font-size: 1.2em"
        >
          {{ props.rawText }}
        </n-p>
      </n-space>
    </n-a>
  </template>
  <template v-else>
    <n-space size="small">
      <n-icon size="25" :component="props.icon" />
      <n-p v-if="props.tradKey" style="font-size: 1.2em">
        {{ t(props.tradKey) }}
      </n-p>
      <n-p
        v-if="props.rawText"
        style="font-size: 1.2em"
      >
        {{ props.rawText }}
      </n-p>
    </n-space>
  </template>
</template>

<script setup lang="ts">
export interface HomeItemProps {
  icon: Component;
  tradKey?: string;
  rawText?: string;
  link?: string;
}
import type { Component } from "vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const props = defineProps<HomeItemProps>();
</script>
