<template>
  <div v-if="!isLoaded">
    <n-skeleton :height="props.height" :width="props.width" :sharp="false" />
  </div>
  <div v-show="isLoaded">
    <n-image
      :src="props.imageUrl"
      :fallback-src="props.fallbackUrl"
      :height="props.height"
      :width="props.width"
      :on-load="onImageLoad"
      :alt="props.altText"
      object-fit="cover"
    />
  </div>
</template>

<script setup lang="ts">
export interface ImageLoaderProps {
  imageUrl: string;
  fallbackUrl?: string;
  height?: number;
  width?: number;
  altText?: string;
}
import { ref } from "vue";

const props = defineProps<ImageLoaderProps>();
const isLoaded = ref<boolean>(false);

function onImageLoad() {
  isLoaded.value = true;
}
</script>
