<template>
  <n-space vertical align="center">
    <n-space size="small">
      <span :class="`fi fi-${props.isoFlag}`"></span>
      <n-h4> {{ t(props.tradKey) }}</n-h4>
    </n-space>
    <n-progress
      style="margin: 0 20rem 12px 0"
      type="line"
      :show-indicator="false"
      :status="props.barStatus"
      :percentage="currentPercentage"
    >
    </n-progress>
  </n-space>
</template>

<script setup lang="ts">
export interface LanguageDisplayProps {
  tradKey: string;
  isoFlag: string;
  barStatus: string;
  toPercentage: number;
  initialDelay: number;
}
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const props = defineProps<LanguageDisplayProps>();

const currentPercentage = ref<number>(0);
let intervalReference: number | undefined = undefined;

function increaseCounter() {
  if (currentPercentage.value === props.toPercentage) {
    clearInterval(intervalReference);
    intervalReference = undefined;
  } else if (currentPercentage.value === 0) {
    currentPercentage.value = props.toPercentage * 0.7;
  } else {
    currentPercentage.value = currentPercentage.value + 1;
  }
}

onMounted(() => {
  setTimeout(() => {
    const reference: ReturnType<typeof setInterval> = setInterval(
      increaseCounter,
      75
    );
    intervalReference = reference as unknown as number;
  }, props.initialDelay);
});
</script>
