<template>
  <n-card
    embedded
    hoverable
    size="large"
    :title="t(`projects.${props.projectName}.title`)"
  >
    <template #header-extra>
      <n-icon v-if="props.icon" :component="props.icon" />
      &nbsp;
      {{ t(`projects.${props.projectName}.technos`) }}
    </template>
    {{ t(`projects.${props.projectName}.description`) }}
    <template #action>
      <n-button
        type="primary"
        text
        tag="a"
        :href="props.link"
        target="_blank"
        icon-placement="right"
      >
        {{ props.host }}
        <template #icon>
          <n-icon :component="ExternalLinkAlt" />
        </template>
      </n-button>
    </template>
  </n-card>
</template>

<script setup lang="ts">
export interface ProjectCardProps {
  icon?: Component;
  projectName: string;
  link: string;
  host: string;
}
import type { Component } from "vue";
import { ExternalLinkAlt } from "@vicons/fa";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const props = defineProps<ProjectCardProps>();
</script>
