<template>
  <n-scrollbar x-scrollable style="overflow: auto; white-space: nowrap">
    <n-timeline size="large" :icon-size="20" horizontal>
      <n-timeline-item
        line-type="dashed"
        :title="t('resume.timeline.bornTitle')"
        :time="t('resume.timeline.bornYear')"
      />
      <n-timeline-item
        type="success"
        :title="t('resume.timeline.bacTitle')"
        :content="t('resume.timeline.bacDescription')"
        :time="t('resume.timeline.bacYear')"
      >
        <template #icon>
          <n-icon>
            <graduation-cap />
          </n-icon>
        </template>
      </n-timeline-item>
      <n-timeline-item
        type="success"
        :title="t('resume.timeline.polytechTitle')"
        :content="t('resume.timeline.polytechDescription')"
        :time="t('resume.timeline.polytechYear')"
      >
        <template #icon>
          <n-icon>
            <graduation-cap />
          </n-icon>
        </template>
      </n-timeline-item>
      <n-timeline-item
        type="info"
        :title="t('resume.timeline.viverisTitle')"
        :content="t('resume.timeline.viverisDescription')"
        :time="t('resume.timeline.viverisYear')"
      >
        <template #icon>
          <n-icon>
            <laptop-code />
          </n-icon>
        </template>
      </n-timeline-item>
    </n-timeline>
  </n-scrollbar>
</template>

<script setup lang="ts">
import { GraduationCap, LaptopCode } from "@vicons/fa";
import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });
</script>
