<template>
  <n-card
    :title="t(props.titleKey)"
    :segmented="segmentedObject"
    embedded
    hoverable
    size="large"
  >
    <template #header-extra v-if="props.extraKey">
      {{ t(props.extraKey!) }}
    </template>
    {{ t(props.contentKey) }}
    <template #footer v-if="props.footerKey">
      {{ t(props.footerKey!) }}
    </template>
  </n-card>
</template>

<script setup lang="ts">
export interface ResumeCardProps {
  titleKey: string;
  contentKey: string;
  footerKey?: string;
  extraKey?: string;
}

import { useI18n } from "vue-i18n";
const { t } = useI18n({ useScope: "global" });

const segmentedObject = {
  content: true,
  footer: "soft",
};

const props = defineProps<ResumeCardProps>();
</script>

<style>
.n-card {
  max-width: 500px;
}
</style>
