<template>
  <n-space justify="space-between">
    <n-menu mode="horizontal" :options="navMenuOptions"></n-menu>

    <n-space justify="space-around" size="large">
      <n-dropdown
        trigger="click"
        :options="languageOptions"
        :show-arrow="true"
        @select="handleSelectedLanguage"
      >
        <n-button icon-placement="left">
          <template #icon>
            <n-icon>
              <language />
            </n-icon>
          </template>
          {{ t("menu.language") }}
        </n-button>
      </n-dropdown>
      <n-dropdown
        trigger="click"
        :options="themeOptions"
        :show-arrow="true"
        @select="handleSelectedTheme"
      >
        <template #icon>
          <n-icon>
            <split-discard />
          </n-icon>
        </template>
        <n-button>
          {{ t("menu.theme.label") }}
        </n-button>
      </n-dropdown>
    </n-space>
  </n-space>
</template>

<script setup lang="ts">
import type { Component } from "vue";
import { h } from "vue";
import type { DropdownOption, MenuOption } from "naive-ui";
import { NIcon } from "naive-ui";
import { RouterLink } from "vue-router";
import { useI18n } from "vue-i18n";
import {
  Home,
  Account,
  Code,
  Language,
  Moon,
  Sun,
  CloudServiceManagement,
  SplitDiscard,
  Mountain,
} from "@vicons/carbon";
const { t, locale } = useI18n({ useScope: "global" });

const emit = defineEmits<{
  (e: "updateTheme", value: string): void;
}>();

function renderIcon(icon: Component) {
  return () => h(NIcon, null, { default: () => h(icon) });
}

const navMenuOptions: MenuOption[] = [
  {
    label: () =>
      h(RouterLink, { to: { path: "/" } }, { default: () => t("menu.home") }),
    key: "menu-home",
    icon: renderIcon(Home),
  },
  {
    label: () =>
      h(
        RouterLink,
        {
          to: {
            name: "resume",
          },
        },
        { default: () => t("menu.resume") }
      ),
    key: "menu-resume",
    icon: renderIcon(Account),
  },
  {
    label: () =>
      h(
        RouterLink,
        {
          to: {
            name: "projects",
          },
        },
        { default: () => t("menu.projects") }
      ),
    key: "menu-projects",
    icon: renderIcon(Code),
  },
];

const languageOptions: DropdownOption[] = [
  {
    label: "Français",
    key: "fr-FR",
  },
  {
    label: "English",
    key: "en-US",
  },
  {
    label: "日本語",
    key: "ja-JP",
  },
];

function handleSelectedLanguage(key: string) {
  locale.value = key;
}

const themeOptions: DropdownOption[] = [
  {
    label: () => t("menu.theme.dark"),
    key: "dark",
    icon: renderIcon(Moon),
  },
  {
    label: () => t("menu.theme.white"),
    key: "white",
    icon: renderIcon(Sun),
  },
  {
    label: () => t("menu.theme.system"),
    key: "system",
    icon: renderIcon(CloudServiceManagement),
  },
  {
    label: "Nord",
    key: "nord",
    icon: renderIcon(Mountain),
  },
];

function handleSelectedTheme(key: string) {
  emit("updateTheme", key);
}
</script>
