<template>
  <n-config-provider
    :theme="theme"
    :locale="language"
    :theme-overrides="chooseThemeOverride"
  >
    <n-layout position="absolute">
      <n-layout-header
        :style="`padding-top: 15px; padding-left: 5px; padding-right: 5px; ${
          type === 'xs' ? 'padding-bottom: 15px' : 'padding-bottom: 10px'
        }`"
        bordered
      >
        <the-navbar @update-theme="handleNewTheme"></the-navbar>
      </n-layout-header>
      <n-layout-content content-style="padding: 24px;">
        <router-view></router-view>
      </n-layout-content>
      <n-layout-footer :position="type === 'xs' ? 'static' : 'absolute'">
        <n-space justify="center">
          <n-text strong> {{ t("footer") }} </n-text>
          <n-a href="https://gitlab.com/ysanson/portfolio">
            {{ t("footerLink") }}
          </n-a>
          <n-text>{{ `Version ${version}` }}</n-text>
        </n-space>
      </n-layout-footer>
    </n-layout>
  </n-config-provider>
</template>

<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted } from "vue";
import { darkTheme, useOsTheme, enUS, frFR, jaJP } from "naive-ui";
import { useI18n } from "vue-i18n";
import { lightThemeOverrides } from "./themes/lightTheme";
import { darkThemeOverrides } from "./themes/darkTheme";
import { nordTheme } from "./themes/nordTheme";
import { version } from "../package.json";
const { t, locale } = useI18n({ useScope: "global" });

const osTheme = useOsTheme();
const chosenTheme = ref<string>("system");

const windowWidth = ref(window.innerWidth);

const onWidthChange = () => (windowWidth.value = window.innerWidth);
onMounted(() => window.addEventListener("resize", onWidthChange));
onUnmounted(() => window.removeEventListener("resize", onWidthChange));
const type = computed(() => {
  if (windowWidth.value < 550) return "xs";
  if (windowWidth.value >= 550 && windowWidth.value < 1200) return "md";
  else return "lg";
});

const chooseThemeOverride = computed(() => {
  if (chosenTheme.value === "dark") {
    return darkThemeOverrides;
  } else if (chosenTheme.value === "nord") {
    return nordTheme;
  } else if (chosenTheme.value === "system") {
    return osTheme.value === "dark" ? darkThemeOverrides : lightThemeOverrides;
  } else {
    return lightThemeOverrides;
  }
});

const theme = computed(() => {
  if (chosenTheme.value === "dark") {
    return darkTheme;
  } else if (chosenTheme.value === "white") {
    return null;
  } else if (chosenTheme.value === "system") {
    return osTheme.value === "dark" ? darkTheme : null;
  } else if (chosenTheme.value === "nord") {
    return darkTheme;
  } else {
    return null;
  }
});

const language = computed(() => {
  if (locale.value === "fr") {
    return frFR;
  } else if (locale.value === "ja") {
    return jaJP;
  } else {
    return enUS;
  }
});

function handleNewTheme(newTheme: string) {
  chosenTheme.value = newTheme;
}
</script>
